.searchBar {
  height: 48px;
  width: 100%;
  border: 4px solid var(--secondaryColor);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBarText {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.searchForText {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #616161;
  margin-left: 8px;
}

.searchButton {
  height:40px;
  width: 44px;
  padding: 4px 4px;
  border-left: 4px solid var(--secondaryColor);
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  background-color: var(--accentColor);
  color: var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}